<div class="courier">
    <h4>Courier delivery service</h4>
    <div class="courier-content">
        <div class="courier-text">
            <article>
                <p>
                    Massa vitae tortor condimentum lacinia quis vel.
                    Lectus vestibulum mattis ullamcorper velit sed ullamcorper.
                    At varius vel pharetra vel turpis. Consectetur a erat nam at lectus.
                    Cursus in hac habitasse platea dictumst.
                    Ante in nibh mauris cursus mattis molestie a iaculis at.
                </p>
                <p>
                    At varius vel pharetra vel turpis. Consectetur a erat nam at lectus.
                    <a href="https://www.google.com">https://www.google.com</a>
                    Ante in nibh mauris cursus mattis molestie a iaculis at.
                </p>
            </article>
        </div>
        <div class="courier-img">
            <img src="pub/media/delivery_page/images/car.png" />
        </div>
    </div>
</div>