<div class="delivery-container">
    <div class="top">
        <article>
            <p class="green-text">
                — Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </article>
    </div>
    <div class="courier">
        <h4>Courier delivery service</h4>
        <div class="courier-content">
            <div class="courier-text">
                <article>
                    <p>
                        Massa vitae tortor condimentum lacinia quis vel.
                        Lectus vestibulum mattis ullamcorper velit sed ullamcorper.
                        At varius vel pharetra vel turpis. Consectetur a erat nam at lectus.
                        Cursus in hac habitasse platea dictumst.
                        Ante in nibh mauris cursus mattis molestie a iaculis at.
                    </p>
                    <p>
                        At varius vel pharetra vel turpis. Consectetur a erat nam at lectus.
                        <a href="https://www.google.com">https://www.google.com</a>
                        Ante in nibh mauris cursus mattis molestie a iaculis at.
                    </p>
            </article>
            </div>
            <div class="courier-img">
                <img src="pub/media/delivery_page/images/car.png" />
            </div>
        </div>
    </div>
    <div class="local">
        <h4>Local delivery service</h4>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Viverra accumsan in nisl nisi scelerisque.
                    Lacus vestibulum sed arcu non odio euismod lacinia at.
                    Lobortis feugiat vivamus at augue eget arcu dictum.
                </p>
            </article>
        <ul>
            <li>Non diam phasellus vestibulum lorem</li>
            <li>Integer quis auctor elit sed</li>
            <li>Quam pellentesque nec nam aliquam</li>
        </ul>
        <div class="column-lists">
            <div class="left-list">
                <div class="list-content">
                    <div class="list-icon">
                        <img src="pub/media/delivery_page/images/mail.svg" />
                    </div>
                    <div class="list-text">
                        <h5>Aenean et tortor</h5>
                        <p>Interdum posuere lorem ipsum dolor sit</p>
                    </div>
                </div>
                <div class="list-content">
                    <div class="list-icon">
                        <img src="pub/media/delivery_page/images/basket.svg" />
                    </div>
                    <div class="list-text">
                        <h5>Aenean et tortor</h5>
                        <p>Interdum posuere lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
            <div class="right-list">
                <div class="left-column">
                    <div class="list-content">
                        <div class="list-icon">
                            <img src="pub/media/delivery_page/images/mail.svg" />
                        </div>
                        <div class="list-text">
                            <h5>Aenean et tortor</h5>
                            <p>Interdum posuere lorem ipsum dolor sit</p>
                        </div>
                    </div>
                </div>
                <div class="right-column">
                    <div class="list-content">
                        <div class="list-icon">
                            <img src="pub/media/delivery_page/images/basket.svg" />
                        </div>
                        <div class="list-text">
                            <h5>Aenean et tortor</h5>
                            <p>Interdum posuere lorem ipsum dolor sit</p>
                        </div>
                        c</div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="left-column">
            <h4>Half column content</h4>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vivamus at augue eget arcu dictum varius duis. Eget arcu dictum varius duis.
                    Nulla aliquet porttitor lacus luctus accumsan tortor posuere.
                    Malesuada fames ac turpis egestas sed tempus.
                    Iaculis at erat pellentesque adipiscing commodo elit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <a href="https://www.google.com">https://www.google.com</a>
                    Bibendum at varius vel pharetra vel. Mattis nunc sed blandit libero volutpat sed.
                </p>
            </article>
        </div>
        <div class="right-column">
            <h4>Half column content</h4>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vivamus at augue eget arcu dictum varius duis. Eget arcu dictum varius duis.
                    Nulla aliquet porttitor lacus luctus accumsan tortor posuere.
                    Malesuada fames ac turpis egestas sed tempus.
                    Iaculis at erat pellentesque adipiscing commodo elit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <a href="https://www.google.com">https://www.google.com</a>
                    Bibendum at varius vel pharetra vel. Mattis nunc sed blandit libero volutpat sed.
                </p>
            </article>
        </div>
    </div>
    <div class="full">
        <h4>Full width paragraph</h4>
        <h3>H3 Subtitle</h3>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Mauris nunc congue nisi vitae suscipit tellus.
                Aenean euismod elementum nisi quis eleifend quam adipiscing vitae.
            </p>
        </article>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>commodo ullamcorper a</th>
                    <th>dignissim suspendisse in</th>
                    <th>quis commodo odio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>aliquam nulla facilisi</td>
                    <td>malesuada fames</td>
                    <td>cras lobortis</td>
                    <td>ligula ullamcorper</td>
                </tr>
                <tr>
                    <td>ipsum dolor sit</td>
                    <td>est velit egestas</td>
                    <td>elit sed vulputate</td>
                    <td><i class="fas fa-check"></i> ornare</td>
                </tr>
                <tr>
                    <td>ipsum dolor sit</td>
                    <td>vulputate mi sit</td>
                    <td><i class="fas fa-check"></i> tristique</td>
                    <td>nisi lacus sed</td>
                </tr>
                <tr>
                    <td>nascetur ridiculus mus mauris vitae ultricies leo</td>
                    <td>tempus egestas sed sed</td>
                    <td>nascetur ridiculus mus mauris vitae ultricies leo</td>
                    <td>tempus egestas sed sed</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>