{{block class="Magento\Cms\Block\Block" block_id="delivery-information-top"}}
{{block class="Magento\Cms\Block\Block" block_id="delivery-information-courier"}}
{{block class="Magento\Cms\Block\Block" block_id="delivery-information-local"}}
{{block class="Magento\Cms\Block\Block" block_id="delivery-information-half-columns"}}
{{block class="Magento\Cms\Block\Block" block_id="delivery-information-full-paragraph"}}
{{block class="Magento\Cms\Block\Block" block_id="delivery-information-table"}}
