<div class="full">
    <h4>Full width paragraph</h4>
    <h3>H3 Subtitle</h3>
    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Mauris nunc congue nisi vitae suscipit tellus.
            Aenean euismod elementum nisi quis eleifend quam adipiscing vitae.
        </p>
    </article>
</div>