<div class="columns">
    <div class="left-column">
        <h4>Half column content</h4>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vivamus at augue eget arcu dictum varius duis. Eget arcu dictum varius duis.
                Nulla aliquet porttitor lacus luctus accumsan tortor posuere.
                Malesuada fames ac turpis egestas sed tempus.
                Iaculis at erat pellentesque adipiscing commodo elit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <a href="https://www.google.com">https://www.google.com</a>
                Bibendum at varius vel pharetra vel. Mattis nunc sed blandit libero volutpat sed.
            </p>
        </article>
    </div>
    <div class="right-column">
        <h4>Half column content</h4>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vivamus at augue eget arcu dictum varius duis. Eget arcu dictum varius duis.
                Nulla aliquet porttitor lacus luctus accumsan tortor posuere.
                Malesuada fames ac turpis egestas sed tempus.
                Iaculis at erat pellentesque adipiscing commodo elit.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <a href="https://www.google.com">https://www.google.com</a>
                Bibendum at varius vel pharetra vel. Mattis nunc sed blandit libero volutpat sed.
            </p>
        </article>
    </div>
</div>