<div class="local">
    <h4>Local delivery service</h4>
    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Viverra accumsan in nisl nisi scelerisque.
            Lacus vestibulum sed arcu non odio euismod lacinia at.
            Lobortis feugiat vivamus at augue eget arcu dictum.
        </p>
    </article>
    <ul>
        <li>Non diam phasellus vestibulum lorem</li>
        <li>Integer quis auctor elit sed</li>
        <li>Quam pellentesque nec nam aliquam</li>
    </ul>
    <div class="column-lists">
        <div class="left-list">
            <div class="list-content">
                <div class="list-icon">
                    <img src="pub/media/delivery_page/images/mail.svg" />
                </div>
                <div class="list-text">
                    <h5>Aenean et tortor</h5>
                    <p>Interdum posuere lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="list-content">
                <div class="list-icon">
                    <img src="pub/media/delivery_page/images/basket.svg" />
                </div>
                <div class="list-text">
                    <h5>Aenean et tortor</h5>
                    <p>Interdum posuere lorem ipsum dolor sit</p>
                </div>
            </div>
        </div>
        <div class="right-list">
            <div class="left-column">
                <div class="list-content">
                    <div class="list-icon">
                        <img src="pub/media/delivery_page/images/mail.svg" />
                    </div>
                    <div class="list-text">
                        <h5>Aenean et tortor</h5>
                        <p>Interdum posuere lorem ipsum dolor sit</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="list-content">
                    <div class="list-icon">
                        <img src="pub/media/delivery_page/images/basket.svg" />
                    </div>
                    <div class="list-text">
                        <h5>Aenean et tortor</h5>
                        <p>Interdum posuere lorem ipsum dolor sit</p>
                    </div>
                    c</div>
            </div>
        </div>
    </div>
</div>