<div class="table">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>commodo ullamcorper a</th>
            <th>dignissim suspendisse in</th>
            <th>quis commodo odio</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>aliquam nulla facilisi</td>
            <td>malesuada fames</td>
            <td>cras lobortis</td>
            <td>ligula ullamcorper</td>
        </tr>
        <tr>
            <td>ipsum dolor sit</td>
            <td>est velit egestas</td>
            <td>elit sed vulputate</td>
            <td><i class="fas fa-check"></i> ornare</td>
        </tr>
        <tr>
            <td>ipsum dolor sit</td>
            <td>vulputate mi sit</td>
            <td><i class="fas fa-check"></i> tristique</td>
            <td>nisi lacus sed</td>
        </tr>
        <tr>
            <td>nascetur ridiculus mus mauris vitae ultricies leo</td>
            <td>tempus egestas sed sed</td>
            <td>nascetur ridiculus mus mauris vitae ultricies leo</td>
            <td>tempus egestas sed sed</td>
        </tr>
        </tbody>
    </table>
</div>