/**
   Edu_default

   @category    Edu
   @package     Edu_default
   @author      Egils Eglitis <info@scandiweb.com>
   @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
*/

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

$font: 'Open Sans', Helvetica, Arial, sans-serif;

$mobile-column-p-font-size: 1em;
$mobile-font-size: 2em;
$mobile-h3-font-size: 1.5em;
$mobile-h4-font-size: 2em;
$mobile-table-font-size: 1.5em;
$mobile-top-p-font-size: 2.1em;

$desktop-column-p-font-size: .8em;
$desktop-font-size: 18px;
$desktop-h3-font-size: 1.5em;
$desktop-h4-font-size: 24px;
$desktop-table-font-size: 1em;
$desktop-top-p-font-size: 30px;

$copy: #46536c;
$dark: #373b42;
$green: #85b73c;
$jysk-blue: #003187;
$light-blue: #cddaf0;
$orange: #f47b20;
$white: #ffffff;

$desktop: '(min-width: 1280px)';
$tablet-large: '(min-width: 1024px)';
$tablet-small: '(min-width: 768px)';

$related-products-list-window: 192px;
