/**
   Edu_default

   @category    Edu
   @package     Edu_default
   @author      Egils Eglitis <info@scandiweb.com>
   @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
*/

@import 'variables';

.cms-delivery {
  @include flex(column);

  @media #{$tablet-large} {
    width: calc(100% - 300px);
    font-size: $desktop-font-size;

    h4 {
      font-size: $desktop-h4-font-size;
    }
  }

  font-family: $font;
  font-weight: 300;
  font-size: $mobile-font-size;
  width: calc(100% - 100px);
  margin: auto;

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $mobile-h4-font-size;
  }

  p {
    color: $copy;
    margin: 20px 0;
  }

  a {
    color: $jysk-blue;
  }

  .top {
    p {
      @media #{$tablet-large} {
        font-size: $desktop-top-p-font-size;
      }

      color: $green;
      font-size: $mobile-top-p-font-size;
    }
  }

  .courier {
    @include flex(column);

    @media #{$tablet-large} {
      .courier-content {
        @include flex(row);
        align-items: center;
      }

    }

    .courier-img {
      @media #{$tablet-large} {
        width: 30em;
      }

      width: 20em;
      margin: auto;

      img {
        width: 100%;
      }
    }
  }

  .local ul {
    color: $copy;
    font-weight: bold;
  }

  .local .column-lists {
    @include flex(column);

    @media #{$tablet-large} {
      @include flex(row);
      justify-content: center;
    }

    align-items: center;
    justify-content: center;
  }

  .local {
    .left-list,
    .right-list {
      @media #{$tablet-large} {
        margin: 0 30px;
      }

      margin: 30px 0;
      width: calc(100% - 100px);
    }
  }

  @media #{$tablet-large} {
    .right-list {
      @include flex(row);
      align-items: center;
    }
  }

  .list-content {
    @include flex(row);

    @media #{$tablet-large} {
      @include flex(column);
      align-items: center;
      justify-content: center;
    }
  }

  .list-icon {
    padding: 10px 30px;

    img {
      @media #{$tablet-large} {
        width: 50px;
      }

      width: 80px;
    }
  }

  .list-text {
    @media #{$tablet-large} {
      text-align: center;
      width: 70%;
    }

    h5,
    p {
      @media #{$tablet-large} {
        font-size: $desktop-column-p-font-size;
      }

      margin: 10px 0;
      font-size: $mobile-column-p-font-size;
      color: darken($copy, 10%);
    }
  }

  .columns {
    @media #{$tablet-large} {
      @include flex(row);
      justify-content: space-between;

      .left-column,
      .right-column {
        width: calc(50% - 20px);
      }
    }
  }

  .full h3 {
    font-size: $mobile-h3-font-size;
    font-weight: 300;
    text-transform: uppercase;
    color: $jysk-blue
  }

  .table {
    color: $copy;

    table {
      border-collapse: collapse;
      text-align: center;
      color: $copy;
      margin-bottom: 20px;
    }

    table,
    th,
    td {
      border: 1px solid $copy
    }

    th,
    td {
      @media #{$tablet-large} {
        font-size: $desktop-table-font-size;
        padding: 20px 10px;
      }

      width: 25%;
      font-size: $mobile-table-font-size;
      padding: 10px;
    }

    th {
      background-color: lighten($copy, 45%);
    }

    td {
      height: 50px;

      i {
        color: $green;
      }
    }
  }
}

