/*
    Scandi_StoreLocator

    @category    Scandi
    @package     Scandi_StoreLocator
    @author      Egils Eglitis <info@scandiweb.com>
    @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
*/

@import 'variables';

.map-block {
  @include flex(row);
  justify-content: space-between;
}

.store-table {
  flex-grow:1;
}

.store-search-results {
  ul {
    padding-top: 10px;
    list-style: none;

    li.selected {
      background-color: red;
    }
  }
}

.map {
  height: 500px;
  width: 455px;
  margin-bottom: 10px;
  flex-grow: 1;

  p {
    text-align: center;
  }

  .store-name {
    color: yellowgreen;
  }

  table {
    color: darkgray;
  }

  th {
    color: dimgrey;
  }
}