/**
   Edu_default

   @category    Edu
   @package     Edu_default
   @author      Egils Eglitis <info@scandiweb.com>
   @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
*/

@import "variables";

.control.qty {
  @include flex(row);
  align-items: stretch;

  .cart-qty-input .input-text.qty {
    margin: 0;
  }
}

.details-qty.qty {
  @include flex(row);

  .item-qty.cart-item-qty {
    margin: 0;
  }
}
