/**
  Edu_default

  @category    Edu
  @package     Edu_default
  @author      Egils Eglitis <info@scandiweb.com>
  @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
*/

@import "variables";

.block-title.title {
  text-align: center;
}

div.products.list.items.product-items {
  @include flex(row);

  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;

  .product-item-details p {
    position: absolute;
    bottom: 0px;
    color: $green;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.related-products-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  padding: 0 10px;
}

.related-products-control-arrow {
  @media #{$tablet-small} {
    width: 40px;
    height: 80px;
  }

  @media #{$tablet-large} {
    width: 30px;
    height: 60px;
  }

  @media #{$desktop} {
    width: 20px;
    height: 40px;
  }

  width: 100%;
  height: 120px;
}

.related-products-control-arrow img {
  width: 100%;
  height: 100%;
}

.related-products-list {
  @include flex(row);

  @media #{$tablet-small} {
    width: $related-products-list-window * 2;
  }

  @media #{$tablet-large} {
    width: $related-products-list-window * 3;
  }

  @media #{$desktop} {
    width: $related-products-list-window * 4;
  }

  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  width: $related-products-list-window;

  .item.product.product-item {
    padding-left: 0;
    margin: 0 20px;
    height: 267px;
    width: 152px;
    position: relative;
    border: 1px solid lightgrey;

    .product-item-details {
      padding-left: 10px;

      .product-item-link {
        font-weight: bold;
      }

      .price-wrapper .price {
        color: grey;
      }
    }
  }
}

.related-products-nav-dots {
  width: 100%;

  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  li{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: lightgrey;
    display: inline-block;
    margin: 0 10px;
  }

  .current-dot {
    background-color: dimgrey;
  }
}
