/*
   Edu_default

   @category    Edu
   @package     Edu_default
   @author      Egils Eglitis <info@scandiweb.com>
   @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
*/


@import "variables";

@media #{$tablet-small} {
  .top-header-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
  }

  .visible-header-banner {
    display: block;
    top: -145.125px;
  }

  .header-nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .breadcrumbs {
    margin-top: 226.125px;
  }
}

.columns {
  margin-top: 145px;
}