/**
 * Edu_default
 *
 * @category    Edu
 * @package     Edu_default
 * @author      Egils Eglitis <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
 */
.product-badge-image-container,
.product-img {
  position: relative;
  z-index: 0; }

.product-badge {
  position: absolute;
  width: 100%;
  z-index: 1; }
  .product-badge img {
    width: 15%;
    max-height: 15%; }
